[Main]
# The base URL to use when making HTTP calls
#baseURL=https://tls.passthepopcorn.me/

# Where cookies are stored from the site, to reduce the necessary number of logins
#cookiesFile=~/.ptp.cookies.txt

# The directory to download any .torrent files to (the . means download to the current directory)
#downloadDirectory=.

[PTP]
# Your site username
username=
# Your site password
password=
# Your passkey (can be found on upload.php, it's that random string of number and letters inside the announce URL)
passkey=

[Reseed]
# The action to use when creating new files to seed
# hard = hard links, soft = symlinks
#action=hard

# Where to create any new files
# Defaults to the same directory as where the reseed match was found
#createInDirectory=

# The methods to use when searching for a file, in order
# Available methods:
# * filename
# * title
#findBy=filename,title
